*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: iranSansCostum;
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
}
a{
    text-decoration: none;
    font: 15px iranSansCostum;
    color: #494f54;
}
a:hover{
    text-decoration: none;
    font: 16px iranSansCostum;
    color: #34393e;
}
.customCard{
    box-shadow: 0 3px rgba(50,50,50,0.3);
}
.card-footer{
    background-color: #ffffff!important;
}
/*============================card one======================*/
.footerOneText{
    font: 11px iranSansCostum;
    text-align: right;
    position: relative;
}
.footerOneDate{
    font: 11px iranSansCostum;
    position: absolute;
    top: 380px;
}
.moreReadBtnCustom{
    color: white;
    font: 13px iranSansCostum;
    margin: -40px 0 0 55px;
    display: none;
}
.moreReadBtnCustom:hover{
    color:white!importanT;
}
/*====================card two=======================*/
.footerTwoText{
    font: 11px iranSansCostum;
    text-align: right;
    position: relative;
}
.footerTwoDate{
    font: 11px iranSansCostum;
    position: absolute;
    top: 380px;
}
.moreReadBtnCustomTwo{
    color: white;
    font: 13px iranSansCostum;
    margin: -40px 0 0 55px;
    display: none;
}
.moreReadBtnCustomTwo:hover{
    color:white!importanT;
}
/*============card three================*/
.footerThreeText{
    font: 11px iranSansCostum;
    text-align: right;
    position: relative;
}
.footerThreeDate{
    font: 11px iranSansCostum;
    position: absolute;
    top: 380px;
}
.moreReadBtnCustomThree{
    color: white;
    font: 13px iranSansCostum;
    margin: -40px 0 0 55px;
    display: none;
}
.moreReadBtnCustomThree:hover{
    color:white!importanT;
}
/*============card four================*/
.footerFourText{
    font: 11px iranSansCostum;
    text-align: right;
    position: relative;
}
.footerFourDate{
    font: 11px iranSansCostum;
    position: absolute;
    top: 380px;
}
.moreReadBtnCustomFour{
    color: white;
    font: 13px iranSansCostum;
    margin: -40px 0 0 55px;
    display: none;
}
.moreReadBtnCustomFour:hover {
    color: white!important;
}






































