@font-face {
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
    font-family: iranSansCostum;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranSansCostum;
}
*:focus{
    border: none;
}
a{
    color: #8b8d8f;
}
a:hover{
    text-decoration: none;
    color: #8b8d8f;
}
.wrap{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-container-login{
    background-color: #4d4d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.back-home{
    width: 500px;
    height: 50px;
    margin-top: 50px;
}
.back-home a{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}
.back-home a span{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.back-home a i{
    font-size: 25px;
    font-weight: 400;
}
.logIn-body{
    width: 520px;
    height: 510px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.logIn-body form{
    width: 450px;
    height: 510px;
    padding: 50px 5px;
    margin: 0 auto;
}
.logIn-body form img{
    width: 120px;
    height: 86px;
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.form-box{
    width: 365px;
    height: 57.5px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    padding: 15px 50px 15px 10px;
    position: relative;
}
.form-box input{
    width: 300px;
    text-align: right;
    color: #bbbbbb;
    border: none;
    display: inline;
}
.form-box input:focus{
    outline: 0;
}
.form-box i{
    color: #808080;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    right: 6px;
    font-size: 20px;
    top: 18px;
}
.recaptcha{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 302px;
}
button.btn-login{
    width: 365px;
    height: 64px;
    display: block;
    border: none;
    background-color: orange;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: all 0.4s;
}
button.btn-login:hover{
    background-color: #e59000;
}
.pass-recovery{
    width: 150px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 0.85rem;
    cursor: pointer;
}
.form-view-rules{
    width: 460px;
    height: 26px;
    margin-top: 20px;
}
.form-view-rules button{
    display: block;
    width: 460px;
    background-color: #4d4d4d;
    color: #fff;
    border: none;
    font-size: 13px;
}
.rules-box{
    position: absolute;
    width: 520px;/* 520px */
    height: 510px;/* 510px */
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 25px;
    display: none;
}
.rules-box p{
    text-align: right;
    display: inline-block;
    padding-right: 20px;
    width: 390px;
    height: 30px;
    color: #666;
}

.rules-box button{
    width: 48px;
    height: 48px;
    background-color: #eeeeee;
    color: #4d4d4d;
    font-size: 30px;
    text-align: center;
    border: none;
}
.rules-box ul{
    padding: 30px;
    text-align: right;
    direction: rtl;
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: orange;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
  }
.rules-box ul li{
    padding: 10px;
    font-size: 16px;
    line-height: 27px;
    color: #666;
}
























































































