* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranSansCostum;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: iranSansCostum;
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
}
.background{
    width: 100%;
    height: auto;/*auto*/
    margin: 0 auto;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 70% 30%;
    grid-gap: 0.5rem;
    overflow: hidden;
    direction: rtl;
}
.background-2{
    width: 100%;
    height: auto;/*auto*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 70% 30%;
    grid-gap: 0.5rem;
    overflow: hidden;
    direction: rtl;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.item1{

}
.item2{
    position: relative;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item3{
padding: 2rem;
}
.img1{
    width: 25rem;
    height: 28rem;
    display: block;
    z-index: 200;
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    right: 35%;


}
.img2{
    width: 25rem;
    height: 28rem;
    display: block;
    opacity: 0.5;
    position: absolute;
    top: 6rem;
    left: 12rem;
}
.item1 h3{
    display: block;
    margin: 0 auto;
    color: white;
    width: 80%;
    height: auto;
    font-size: 1.2rem;
    padding: 1.5rem;
}
.ratingToProduct{
    padding: 1rem;
    direction: rtl;
    display: flex;
}
.ratingToProduct span{
    color: white;
    letter-spacing: 1px;
    font-size: 0.75rem;
}
.starsContainer{
    margin-right: auto;
    margin-left: 10%;
}
.starsContainer i{
    color: #fea000;
    font-size: 1.5rem;
}
.label{
    width: 100%;
    height: auto;
    position: relative;
}
.label img{
    display: block;
    width: 85%;
    margin: 0 auto;
}
.label div{
    z-index: 25;
    width: 15%;
    height: 55%;
    position: absolute;
    text-align: center;
}
.label div span{
    display: block;
    color: white;
}
.left-sec{
    position: absolute;
    left: 20%;
    top: 22%;
    z-index: 200;
}
.left-sec:first-child(1) {
    font-size: 2rem;
}
.right-sec{
    position: absolute;
    top: 22%;
    z-index: 200;
    right: 25%;
    width: 80%;
}
.view-product-btn{
    outline: 0;
    background: #fea000;
    border: none;
    padding: .75rem 1.25rem;
    width: 80%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: white;
    border-radius: 5px;
}
.view-product-btn:hover{
    background-color: #e59000;
}
.item3{
    display: flex;
    align-items: center;

}
/*===========media query for mobile sizes===========*/
@media only screen and (max-width: 500px){
    .background-2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 50% 20%;
    }
    .background{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 50% 20%;
    }
    .item2{
        display: none;
    }
    .right-sec span{
        font-size: 0.65rem;
    }
    .left-sec span{
        font-size: 0.65rem;
    }
    div.item1 h3{
        font-size: 1rem;
    }
    .ratingToProduct{
        flex-direction: column;
        padding: 0.5rem;
    }
    .ratingToProduct span{
        text-align: center;
    }
    .starsContainer{
        margin: 1rem  auto!important;
        text-align: center;
    }
    .item3{
        padding: 1rem;
    }
}

@media only screen and (max-width: 1200px)  {
    .img1{
        width: 65%;}

        .img2{ width: 65%;
            right: 1rem;
        }
        .left-sec span{
            font-size: .8rem;}
    .right-sec span{
        font-size: .8rem;}
    .starsContainer{
        width: 45%;
        margin-left: 0.25rem;
        text-align: center;
    }
    .starsContainer i{
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 810px){
    .img1{
        left: 1rem;
        position: absolute;
        height: 95%;
        width: 68%;}
  .img2{ width: 67%;
        right: 1rem;

    }
    .left-sec span{
        font-size: .6rem;}
    .right-sec span{
        font-size: .6rem;}
}
@media only screen and (max-width: 700px){
    .item2{
        display: none;
    }
    .background{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 50% 20%;
    }
    .background-2{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .item3{
        padding: 1rem;
    }
    .item1 h3{
        padding: .5rem;
        font-size: 2.5vw;
    }
    .label img{
        width: 55%;
    }
    .left-sec{
        left: 30%;
    }
    .right-sec{
        right: 30%;
    }

}


