@font-face {
    src: url("../fonts/IRANSans.ttf") format("ttf");
    font-family: IRANSans;
}
@font-face {
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
    font-family: IRANSans;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans;
}
*:focus{
    outline: 0;
}
a{
    text-decoration: none!important;
}
/*====================================================*/
.headerPage{
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg,#665d9b 0,#a46499 62%);
}
.title-header{
    width: 585px;
    height: 30px;
}
.title-header h2{
    color: white;
    display: block;
    text-align: center;
    position: absolute;
    height: 30px;
    right: 0;
    width: auto;
    margin: 0 auto;
    padding-right: 100px;
    font-size: 22px;
    font-weight: bold;
}
.left-nav li a{
    color: white;
}
.left-nav{
    text-align: left;
    position: absolute;
    height: 30px;
    top: 35px;
    left: 0;
    width: auto;
    margin: 0 auto;
    padding-left: 200px;
}

/* =====================wrap section=================== */
.wrap{direction: rtl;}
.side-bar{
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding-top: 5px;
}
.btn-filter{
    width: 300px;
    height: 33px;
    background-color: #FEA000;
    color: white;
    transition: all 0.4s;
    border: none;
    margin-bottom: 12px;
}
.btn-filter:hover{
    background-color: #E59000;
}
.filter-box{
    width: 300px;
    height: 50px;
}
.filter-title{
    width: 300px;
    height: 50px;
    background-color: #F2F2F2;
    display: flex;
    text-align: center;
}
.filter-title span{
    padding: 5px;
    color: #9C9C9C;
}
.filter-slider{
   width: 100%;
   height: 183px;
}
.filter-slider input[type = range]{
    width: 280px;
    height: 6px;
    border-radius: 5px;
}
.container-range-box{
    position: relative;
    border-bottom:1px solid #e6e6e6;
    width: 300px;
    height: 180px;
}
.range-show-box{
    width: 252px;
    height: 47px;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
}
.range-text{
    position: absolute;
    right: 2px;
}
.toman-text{
    color: #eaeaea;
    font-size: 12px;
}
#sp1{
    position: absolute;
    top: 45px;
    color: #858585;
}
#sp2{
    position: absolute;
    top: 120px;
    color: #858585;
}
#rsb1{
    position: absolute;
    top: 40px;
    right: 30px;
}
#rsb2{
    position: absolute;
    top: 105px;
    right: 30px;
}
.accordion-container{
    width: 100%;
    height: auto;
  /*   position: relative; */
}
.bs-example{
    width: 300px;
    height: auto;
}
ul{
    list-style: none;
}
.price-box{
    width: 100%;
    height: 50px;
}
.card , .card-header , .card-body{
    border: none;
    color: #95989a;
    background-color: #fff;
}
.myCardHeader{
    width: 300px;
    height: 33px;
    cursor: pointer;
}
a:hover{
    text-decoration: none!important;
}
.btn-link:hover{
    text-decoration: none!important;
}
.btn-link{
    color: #9EA1A3!important;
    font-size: 13px;
}
.btn:focus{
    outline: 0!important;
}
.card-body ul li{
    padding: 5px;
}
.card-body ul li a{
    font-size: 13px;
    color: #9ea1a3;
}
.card-body{
    padding: 5px!important;
}
.card-body ul li{
    position: relative;
    width: 265px;
    height: 35px;
}
.card-body ul li a{
    position: absolute;
    right: 5px;
    transition: all 0.4s;
}
.card-body  a:hover{
    color: #FEA000!important;
}
#scriptLink{
    color: #9ea1a3!important;
}
.myCardHeader  h2 div i:hover{
    color: #FEA000!important;
}
.myCardHeader  h2 div span:hover{
    color: #FEA000!important;
}
.searchBox-container{
    width: 300px;
    height: 180px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.filter-title2{
    width: 300px;
    height: 50px;
    background-color: #F2F2F2;
    display: flex;
    text-align: center;
}
.filter-title2 span{
    padding: 5px;
    color: #9C9C9C;
}
.search-box {
    width: 300px;
    height: 55px;
}
.search-box input{
    width: 300px;
    height: 37px;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    padding: 30px;
    border-radius: 5px;
    color: #9c9c9c;
    transition: all 0.4s;
}
.search-box input:hover{
    border-color: #E59000;
}
 .baseOnModel{
    position: relative;
    width: 300px;
    height: 268px;
}
 .filter-title3{
    width: 300px;
    height: 50px;
    background-color: #F2F2F2;
    position: absolute;
    right: 2px;
    display: flex;
    text-align: center;
}
.filter-title3 span{
    padding: 5px;
    color: #9C9C9C;
}
.listOfProduct li{
    padding: 10px;
    display: block;
}
.listOfProduct li a{
    text-align: right!important;
    display: block;
    font-size: 13px;
    color: #95989a;
    transition: all 0.4s;
}
.listOfProduct li a:hover{
    color: #E59000;
    text-decoration: none;
}
/*======================================== main section=============================================== */
.main{
    width: 75%;
    height: auto;
    margin-right: 25px;
}
.search-input{
    position: relative;
    display: block;
    height: 48px;
    border: 1px solid #d6d6d6;
    border-radius: 25px;
    margin: 5px auto;
    padding: 10px;
    transition: all 0.4s;
}
.search-input:hover{
    border-color: #E59000;
    box-shadow: 1px 2px 3px rgba(168,168,168,0.5);

}
.search-input input{
width: 80%;
border: none;
color: #9c9c9c;
font-size: 13px;
position: absolute;
right: 10px;
}
.search-input button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
}
.search-input button i{
    color: #95989a;
    font-size: 30px;
    font-weight: 100;
    transition: all 0.4s;
}
.search-input button i:hover{
    color: #E59000;
}
.search-input button i:focus{
    color: #E59000;
}
.sort-box{
    height: 79px;
    width: 100%;
}
.sort{
 color: #929292;
 font-size: 15px;
}
.form-container input{
padding-left: 10px;
}
.form-container form div{
    display: flex;
    height: 34px;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.form-flex{
    justify-content: space-between;
}
.inputRadio{
 -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #b3b3b3;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
    cursor: pointer;
}
.span-radio{
padding-right: 10px;
font-size: 14px;
}
.inputRadio:focus{
border-color: #E59000;
}
span.input-circle{
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b3b3b3;
    position: absolute;
    right: 19px;
    top: 11px;
    cursor: pointer;
}
.input-circle-orng{
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E59000;
    position: absolute;
    right: 19px;
    top: 11px;
    cursor: pointer;
}
.accordion{
    height: auto!important;/* new=============================== */
}



/* cusomize range tag
first should delete all styles given to element by browser */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* =====================eslahe ghesmate thumb================================= */

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 5px #dcdcdc, 0px 0px 5px #c0c0c0; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 5px #dcdcdc, 0px 0px 5px #c0c0c0;
    border: 1px solid #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #dcdcdc, 0px 0px 1px #c0c0c0;
    border: 1px solid #ffff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  /* =================eslahe ghesmate khate raily========= */

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #dcdcdc, 0px 0px 1px #c0c0c0;
    background: #fff;
    border-radius: 5px;
    border: 0.2px solid #ffffff;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #E59000;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #dcdcdc, 0px 0px 1px #c0c0c0;
    background: #fff;
    border-radius: 5px;
    border: 0.2px solid #fff;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: #fff;
  }
  input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 0.2px solid #fff;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #dcdcdc, 0px 0px 1px #c0c0c0;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #E59000;
  }
  input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 0.2px solid #fff;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #dcdcdc, 0px 0px 1px #c0c0c0;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #E59000;
  }
  /* =====================media queries====================== */
  .containerResponsiveBtn{
    width: 60px;
    height: 45px;
    text-align: center;
    background-color: #d6d6d670;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerResponsiveBtn span{
    display: block;
    padding: 10px;
    color: #9ea1a2;
    cursor: pointer;
     }
     .respBox{
         width: 60px;
         height: 45px;
     }
  #sideBarHelper{
      width: 300px;
      height: auto;
      display: block;
  }
  @media only screen and (min-width: 1050px){
     .respBox{
         display: none;
         width: 60px;
         height: 45px;
     }
  }
  @media only screen and (max-width: 1050px){
      #lftNavClean{
          display: none;
      }

     #sideBarHelper{
         display: none;
     }
     .main{
         flex: 1;
         width: 100%;
         justify-content: space-between;
         padding-right: 0;
     }
     .form-container form div{
         padding-left: 5px;
         padding-right: 5px;
     }
      .sort-box{
         display: none;
     }
     .respBox{
         margin-left: 12px;
     }
  }
       /* =======================
       ==================container filter==============
       ================================ */
       div.containerFilter{
           background-color: rgba(0, 0, 0, 0.3);
           width: 100%;
           height: 1600px;
           position: absolute;
           right: 0;
           top: 0;
           display: none;
       }
       #sideBarHelper2{
           background-color: #fff;
           width: 320px;
           direction: rtl;
           position: absolute;
           right: 0;
       }
       #closeBtn{
          display: block;
          width: 50px;
          height: 50px;
          border: none;
          background-color: transparent;
        }
       #closeBtn span{
           font-size: 30px;
           color: #F2F2F2;
           font-weight: 100;
        }

