
@font-face {
    font-family: iranSansCostum;
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
}
 /* ===============general section================ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iranSansCostum;
}
a{
    text-decoration: none;
}
/* ======card style start from here
قسمت کلی نگه دارنده بخش های مختلف کارت اینجاست======== */
.cardsContainer{
    width: 100%;
    height: auto;
    padding-top: 60px;
}
.cardParent{
    width: auto;
    height: auto;
    cursor: pointer;
}
.card-container:hover{
    box-shadow: 0 3px 10px #D8D8D8;
}
.card-container{
width: 302px;
height: auto;
border: 1px solid #ececec;
margin: 0 auto;
transition: all 0.3s;
margin-bottom: 20px;
}
.image-container{
    width: 300px;
    height: 300px;
    position: relative;
}
.image-container img{
    width: 300px;
    height: 300px;
    display: block;
}
.product-authors{
    width: 100%;
    height: 0;
    display: flex;
    background: linear-gradient(to top, rgba(32, 32, 32, 0.911) 0%, rgba(110, 110, 110, 0.767) 16%, rgba(251,251,251,0.4) 90%);
    direction: rtl;
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
}
.img-author{
    width: 70px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.img-author img{
    display: block;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 1px solid white;
}
.infoAuthor{
    width: 300px;
    height: 88px;
    color: white;
    padding-right: 100px;
    text-align: right;
}
.infoAuthor P{
  display: block;
  position: absolute;
  top: 50px;
  font-size: 13px;
}
.infoAuthor h5{
    display: block;
    position: absolute;
    top: 22px;
    font-size: 18px;
}
.product-name{
    width: 300px;
    height: 60px;
    padding: 10px;
    direction: rtl;

}
.product-name a{
    color: gray;
    font-size: 16px;
    display: block;
    width: 200px;
    margin-left: auto;
  }
.product-name a:hover{
    text-decoration: none;
}
.productInfo{
    width: 300px;
    height: 0;/* ===========================inja=========== */
    border-top: 1px solid #ececec;
    overflow: hidden;
}
.productInfo p{
    font-size: 0.75rem;
    text-align: right;
    padding: 10px;
    color: #8b8b8b;
}
.product-rate{
    width: 300px;
    height: 50px;
    display: flex;
}
.product-sell{
    width: 60%;
    height: 45px;
    border-left: 1px solid #ececec;
}
.product-sell span{
    color: #8b8b8b;
    font-size: 0.875rem;
}
.product-price{
    width: 40%;
    height: 50px;
}
.product-price span{
    display: block;
    text-align: right;
    padding: 15px;
    color: #8b8b8b;
    font-size: 0.875rem;
}
.buttonContainer{
    width: 300px;
    height: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.button{
    display: block;
    width: 258px;
    height: 38px;
    background-color: #22c35e;
    text-align: center;
    color: aliceblue;
    padding: 8px 5px;
    border: none;
    margin: 10px auto;
    font-size: .875rem;
    transition: all 0.4s;
    border-radius: 3px;
}
.button:hover{
    background-color: #41AD62;
}
