a{
    text-decoration: none;
}
@font-face {
    src: url("../../../untitled2/zhakad/font/FontsFree-Net-ir_sans.ttf");
    font-family: iranSansCostum;
}
.form-control{
    height: calc(2.5em + .75rem + 2px)!important;
}
.customButton{
    font: 13px iranSansCostum;
    color: white;
}
.warningImage{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.textWarning{
    display: block;
    text-align: right;
    font: 14px iranSansCostum;
    color: #826667;
}
.impotentWarning{
    margin: 9px -4px 0 -38px;
    font: 16px iranSansCostum;
    font-weight: bold;
    color: #e50027;
}
#necessaryAlert{
    color: #e50027;
    font: 12px iranSansCostum;
    text-align: right;
    margin: 16px 0 0 0;
    /*display: none;*/
}
#createAlert{
    color: #00ab18;
    font: 12px iranSansCostum;
    text-align: right;
    margin: 16px 0 0 0;
}
.modalCustomSign{
    margin: 111px 0 0 450px;
}

