/*
IRAN Sans-serif fonts are considered a proprietary software. To gain
information about the laws regarding the use of these fonts, please
visit www.fontiran.com
---------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
---------------------------------------------------------------------
*/
/*=========================general styles==============================*/
@font-face {
   src: url("../fonts/IRANSans.ttf") format("ttf");
    font-family: IRANSans;
}
@font-face {
    src: url("../fonts/FontsFree-Net-ir_sans.ttf");
    font-family: IRANSans;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans;
}
body{
    margin: 0;
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
*:focus{
    outline: 0;
}
a{
    text-decoration: none;
}
/*=========================tab list styles===============================*/
#tabList{
    direction: rtl;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    margin: 10px auto;
    height: 52.48px;
    text-align: center;
    width: 386px;
    height: 49px;
}
#li1{
    width: 121px;
}
#li2{
    width: 105px;
}
#li3{
    width: 155px;
}
#tabList a{
    padding: 15px 12px;
    color: #666666;
    font: 12px IRANSans;
    text-align: center;
    display: block;
    transition: all 0.3s;

}
#tabList li{
    transition: all 0.3s;
}
#tabList a:hover{
    text-decoration: none;
}
#tabList a:focus{
    text-decoration: none;
    background-color: #C0C0C0;
}
#tabList li:hover{
    background-color: #E8E8E8;
    border-bottom: 2px solid #fea000;
}
#tabListContent{
    flex-wrap: wrap;
    flex-direction: row;
}
/*===================start box==============================*/
/*======================product little boxes=====================*/
#box1{
    position: absolute;
    right: 180px;
    z-index: 100;
    top: 80px;
    display: none;
}
#box2{
    position: absolute;
    right: 295px;
    z-index: 25;
    top: 80px;
    display: none;
}
#box3{
    position: absolute;
    right: 410px;
    z-index: 25;
    top: 80px;
    display: none;
}
.custom-product-parent{
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 2px 10px rgba(0, 0 ,0,0.14);
    margin-right: 15px;
    cursor: pointer;
    z-index: 10;
}
.custom-product-parent img{
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 15px;

}
/*==============================Product boxes=====================*/
.product-box-parent{
    position: relative;
    overflow: hidden;
    /*padding-top: 100%;*/
    border-bottom: 1px solid #e6e6e6;
    width: 375px;
    height: 570px;
    box-shadow: 0 0 15px #808080;
}
.product-img-box{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 375px;
    height: 375px;
    text-decoration: none;
}
.product-img-box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
/*=============================box author===============================*/
.product-author{
    position: absolute;
    width: 100%;
    height: 88px;
    left: 0;
    bottom: 0;
    top: 290px;
    z-index: 3;
    padding: 15px;
    color: #fff;
}
.product-author:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 85px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.1);
}
.product-author img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    float: right;
    position: static;
}
.product-author p{
    font-size: 16px;
    width: 275px;
    height: 28px;
    color: #ffffff;
    text-align: right;
    margin: 0;
    padding-bottom: 5px;
}
.product-author span{
    width: 275px;
    height: 21px;
    text-align: right;
    font-size: 13px;
    display : block;
}
/*============================product title==============================*/
.product-title{
    position: relative;
    color: grey;
    width: 375px;
    height: 82px;
    right: 0;
    top: 375px;
    padding: 14px 19px 9px;
    margin: 14px 0;
}
.product-title a{
    color: #808080;
    font-size: 18px;
    text-align: right;
    display: block;
    text-decoration: none;
    font-weight: bold;
}
/*===================product information================================*/
.product-information-text{
    font-size: .75rem;
    color: grey;
    padding: 0 10px 15px;
    text-align: right;
    width: 375px;
    height: 52px;
    position: absolute;
    right: 0;
    top: 457px;
    display: block;
}
/*=====================product information footer=======================*/
.product-info-footer{
    width: 375px;
    height: 71px;
    position: absolute;
    right: 0;
    top: 510px;
    border-top: 1px solid #DCDCDC;
    color: #808080;
    padding: 15px;
}
.product-data{
    position: absolute;
    right: 3px;
}
.product-count{
    font-size: 15px;
}
.product-num{
    font-size: 25px;
}
/* ==============================footer styles=========================== */
.footer{
        background-color: #4d4d4d;
        width: 100%;
        height: auto;
}
.footer-center{
    padding: 2.75rem;
    height: 22vh;
    display: flex;
    justify-content: space-around;
}
.footer-center ul{
    list-style-type: none;
    text-align: center;
    }
.right-nav{
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.right-nav li a{
    color: #b3b3b3!important;
    transition: all 0.12s!important;
    font-size: 0.85rem;
    font-weight: 400;
}
.right-nav li{
    display: inline;
    margin-right: 1rem;
}
.right-nav li a:hover{
    color: #ccc!important;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.footer-logo{
    width: 108px;
    height: 77px;
}
.left-nav{
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.left-nav li a{
    color: #b3b3b3!important;
    transition: all 0.12s!important;
    font-size: 0.85rem;
    font-weight: 400;
}
.left-nav li{
    display: inline;
    margin-right: 1rem;
}
.left-nav li a:hover{
    color: #ccc!important;
    text-decoration: none;
}
.footer-secondary{
    width: 100%;
    height: auto;
    display: flex;
    border-top: 1px solid #5e5e5e;
    padding: 2rem;
}
.enemad{
    margin-left: 2rem;
}
div.social-media{
    margin-left: auto;
    color: #808080;
    font-size: 0.85rem;
}
div.icons{
    padding: 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.12s ease-out;
}
div.icons i:hover{
    color: #b3b3b3;
}



@media only screen and (max-width: 992px) {
    .footer-center{
        flex-direction: column;
        height: auto;
        padding: 2rem;
        justify-content: center;
    }
    .footer-logo{
        margin: 0 auto;
    }
    .left-nav , .right-nav , .footer-logo{
        margin-top: 1rem;

    }
    .left-nav ul{
        display: flex;
        flex-direction: column;
    }
    .right-nav ul{
        display: flex;
        flex-direction: column;
    }
    .right-nav ul li , .left-nav ul li{
        line-height: 2;
        text-align: center;
    }
    .footer-secondary{
        flex-direction: column;
        padding: 2rem;
    }
    .enemad{
        order: 2;
        margin: 0 auto;
    }
    div.social-media{
        width: 100%;
        height: auto;
    }

    .social-media p{
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    div.icons{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .icons i{
      padding-right: 0.75rem;
        display: block;
    }



}


