* {
    margin: 0;
    padding: 0;
}
@font-face {
    src: url("../fonts/IRANSans.ttf") format("ttf");
     font-family: IRANSans;
 }
 @font-face {
     src: url("../fonts/FontsFree-Net-ir_sans.ttf");
     font-family: IRANSans;
 }
a {
    text-decoration: none;
    color: #494949!important;
}
.customTitle {
    font: 15px iranSansCostum;
    color: #494949;
    font-size: 13px;
}
.borderHeader {
    height: 3px;
    width: 100%;
    background-color: #fea000;
}
.customIcon {
    width: 20px;
    height: 20px;
}
.customButton {
    border: none;
    background-color: #fea000;
    color: white;
}
.customEnter {
    color: #b6b8be;
    font-size: 18px;
}
.customSearchIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px
}
.closeIcon {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}
.formCustom{
    display: block;
    height: 256px;
}
.underSearch{
padding: 35px 40px;
}
.underSearch h4{
    color: #8d8480;
}
.underSearch p{
    color: #c2c4c1;
    display: block;
    width: 50%;
    margin: 20px auto;
    line-height: 2;
}

body{
    position: relative;
}
.searchBox{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.modal-content{
    height: 250px!important;
    width: 100%!important;
}
.customMegaMenuPopular{
    width: 100%;
    height: 100px;
    margin: -19px 150px;
    position: relative;
}
.dropdown-item{
    text-align: right!important;
}
.customIconMenu{
    width: 30px;
    height: 30px;
}
.customTitleMegaMenu{
    font: 15px iranSansCostum;
    color: black;
    margin: 0 auto;
}
.dropdown-menu{
    left: 120px!important;
}
.customLogoImage{
    margin-top: 100px;
 /*    margin: 0 515px 10px;
    padding: 160px 20px 0 233px;
    box-sizing: border-box; */
}
.customLogoImage img{
    display: block;
    width: 120px;
    margin: 10px auto;
}
.customInputSearchBox{
    width: 100%;
}
.mySearchBox{
    width: 65%;
    height: 4.75rem;
    margin: 0 auto;
    display: block;
    color: #c9cbc8!important;
    border: 1px solid #e6e6e6;
    padding: 0.2rem;
}
.underSearch h4{

}
.form-control{
    font-size: 1.25rem!important;
    font-family: iranSansCostum;
}
.customInputSearchBox{
    transition:box-shadow 0.3s!important;
}
.customInputSearchBox:hover{
    box-shadow: #494f54!important;
}
body{
    position: relative;
}
.allTicketFixed{
    position: absolute;
    left: 111px;
    bottom: -211px;
}
.ticketFixed{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fea000;
    position: fixed;
}
.ticketFixed img{
    width: 35px;
    height: 35px;
    margin: 12px 0 0 14px;
}
/* =========================shoppin box styles================= */
.myShopping{
    width: 0;/* 1349px */
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}
.basket-box{
    width: 0;/* 540px */
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
}
.basket-header{
    width: 350px;
    height: 90px;
    display: flex;
    align-items: center;
}
.basket-header p{
    display: block;
    width: 290px;
    text-align: right;
    padding: 5px;
    padding-right: 13px;
    margin: 0;
    color: #95989a;
}
.basket-header button{
    width: 50px;
    height: 50px;
    background-color: #f6f6f6;
    border: none;
    display: block;
}
.close-img{
    width: 20px;
    height: 20px;
}
.basket-body{
    width: 320px;
    height: 50vh;
}
.basket-body p{
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 100px 0;
    color: #565656;
}




